<h1>Submit a new recipe</h1>
<form method="post" action="/recipes">
    <input type="text" name="name" placeholder="Name:"><br/>
    <input type="text" name="ingredients" placeholder="Ingredients:"><br/>
    <input type="text" name="cook_time" placeholder="Cooking time:"><br/>
    <input type="submit" value="Submit Recipe">
</form>